[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
werkzeug = "*"
flask-jwt-extended = "4.0.0"
importlib-metadata = "*"
pipfile = "*"
flask-sqlalchemy = "*"
openai = "*"
cryptography = "*"


[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "bash -c \"export FLASK_ENV='development' && flask run --host=0.0.0.0\""

[pipenv]
allow_prereleases = true
